<form class="example-form" [formGroup]="Form" (ngSubmit)="onSubmit()" (ngSubmit)="submitForm(value)">
  <h3>{{modalTitle}}</h3>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Title" name="Title">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Description" name="Description">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-select placeholder="Category" name="Category" class="example-full-width">
      <mat-option *ngFor="let category of categories" value="{{category}}">
        {{category}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-form-field class="example-full-width">
    <textarea matInput name="URL of the image" placeholder="URL of the image"></textarea>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close] class='modalBtn' (click)="onClick()">Cancel</button>
    <button mat-button [mat-dialog-close] class='modalBtn' type="submit" cdkFocusInitial>Post</button>
  </div>
</form>