.titleUp {
    color: #ff7f50;
    text-align: center;
    font-size: 25px;
    font-family: "Source Sans Pro",sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

.titleDown {
    color: black;
    text-align: center;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 75px;
    font-weight: bold;
    margin: 0px;
}

.brackets {
    font-size: 40px;
    color: #ff7f50;
    font-family: "Source Sans Pro",sans-serif;
    font-weight: bold;
}

.page-title {
    padding-top: 20px;
    padding-bottom: 20px;
}