<div class="thumbnailContainer">
  <a href="#">
    <div class="imgContainer" [style.backgroundImage]="getImage()">
      <div class="contentContainer">
        <h3 class="title">{{ title }}</h3>
        <span class="comments">{{ comments }} comments <mat-icon>chat_bubble_icon</mat-icon></span>
        <p class="shortDescription">{{ shortDescription }}</p>
        <span class="category">{{ category | uppercase }}</span>
      </div>
    </div>
  </a>
  <div class="editContainer">
    <app-edit-delete-btns class="btnEditDelete" (sendEditClickOne)="sendEdit($event)"></app-edit-delete-btns>
  </div>
</div>